/*AlgoritmosNarrativos*/
@font-face {
    font-family: 'rathersemibold';
		src: url('Rather-SemiBold.otf');
		font-weight: normal;
		font-style: normal;
}

body{
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #000000;
  font-family: 'rathersemibold';
}

.sinpadding [class*="col-"] {
    padding-left: 0;
		padding-right: 0;
    height: auto;
    min-height: 100vh;
}

/**
Estilo Formulario
*/
/*General*/
#Formulario{
	background-color: #000000;
	padding: 7px 8px 0 8px;
	font-size: 1.3rem;
	margin-bottom: -16px;
  font-family: 'rathersemibold';
  	color: #333;
}

.tituloPuntoCero{
  display: table;
}

.tituloForm{
  color: #d60c67;
  display: table-row;
}

.tituloFormTime{
display: table-cell;
}

.tituloFormType{
display: table-cell;
padding-left: 98px;
}

.tituloFormCommand{
display: table-cell;
padding-left: 45px;
}

#titlePuntoCero{
  font-size: 2rem;
  padding-top: 8px;
  padding-bottom: 8px;
}

.formTime{
  width: 140px;
  display: table-cell;
}

.formType{
  padding-left: 3px;
  display: table-cell;
}

.formCommand{
  display: table-cell;
  padding-left: 3px;
  width: 80%;
}

.inputAncho{
  width:100%;
}

/*Botones*/
/*Botón nuevo del formulario*/
.buttonNuevo {
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 25px;
  margin-left: 10px;
  background-color: #d60c67;
  color: #000000;
  font-size: 18px;
  	font-family: 'rathersemibold';
}
/*Botón en el lateral*/
.buttonLateral {
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 25px;
  background-color: #000000;
  color: #d60c67;
  font-size: 18px;
}

.buttonLateralNo {
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
  margin-bottom: 10px;
  background-color: #000000;
  color: #d60c67;
  font-size: 18px;
}

/*Fondo campos de entrada*/
button, input, optgroup, select, textarea {
	background-color: transparent;
	border: none;
  outline: none;
  color: rgb(235, 235, 235);
}

/*QuitamosLaFlechaDelDesplegable*/
.flecha select{
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/*Relleno del color del formulario simulando misma altura de columnas*/
.backgroundBlack{
		background-color: #000;
}


/**
Estilo lateral
*/
#Lateral{
	background-color: #d60c67;
	text-align: justify;
	padding: 72px 6% 0 6%;
	font-family: 'rathersemibold';
	font-size: 1.3rem;
}

#Lateral h1{
		/*font-family: 'Rubik Mono One', sans-serif;*/
		font-family: 'rathersemibold';
		font-size: 3rem;
}

.fonLateral{
	background-color: #d60c67;
}
