/*AlgoritmosNarrativos*/
@font-face {
    font-family: 'rathersemibold';
		src: url('Rather-SemiBold.otf');
		font-weight: normal;
		font-style: normal;
}

body{
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #000000;
  font-family: 'rathersemibold';
}

.sinpadding [class*="col-"] {
    padding-left: 0;
		padding-right: 0;
    height: auto;
    min-height: 100vh;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/**
Estilo Menú
*/

.menu{
  background-color: #d60c67;
  font-size: 2rem;
  font-family: 'rathersemibold';
  color: #000000;
  height: 65px;
}

.menu2{
  background-color: #ffecc2;
  font-size: 2rem;
  font-family: 'rathersemibold';
  color: #000000;
  height: 65px;
}

.menu3{
  background-color: #c2eaff;
  font-size: 2rem;
  font-family: 'rathersemibold';
  color: #000000;
  height: 65px;
}

.menuSelect{
  background-color: #000000;
  color: #d60c67;
  padding-top: 10px;
}

.menuSelect1{
  background-color: #000000;
  color: #ffecc2;
  padding-top: 10px;
}

.menuNoSelect2{
  background-color: #000000;
  color: #c2eaff;
  padding-top: 10px;
}

.menuNoSelect{
  padding-top: 10px;
}

.nounderline0:link{
  text-decoration:none;
  color: #000000;
}
.nounderline0:visited{
  color: #000000;
}
.nounderline0:hover{
  text-decoration:none;
  color: #d60c67;
}

.nounderline1:link{
  text-decoration:none;
  color: #000000;
}
.nounderline1:visited{
  color: #000000;
}
.nounderline1:hover{
  text-decoration:none;
  color: #ffecc2 !important;
}

.nounderline2:link{
  text-decoration:none;
  color: #000000;
}
.nounderline2:visited{
  color: #000000;
}
.nounderline2:hover{
  text-decoration:none;
  color: #c2eaff !important;
}

.menuNegroHover0:hover{
  background-color: #000000;
  color: #d60c67 !important;
}

.menuNegroHover1:hover{
  background-color: #000000;
  color: #ffecc2 !important;
}

.menuNegroHover2:hover{
  background-color: #000000;
  color: #c2eaff !important;
}

/**
Estilo Formulario Punto Cero
*/
/*General*/
#Formulario{
	background-color: #000000;
	padding: 25px 8px 0 16px;
  font-family: 'Roboto Mono', monospace;
	font-size: 1.3rem;
	margin-bottom: -16px;
  	color: #333;
}

.tituloPuntoCero{
  display: table;
}

.tituloForm{
  color: #d60c67;
  display: table-row;
}

.tituloFormTime{
display: table-cell;
}

.tituloFormType{
display: table-cell;
padding-left: 95px;
}

.tituloFormCommand{
display: table-cell;
padding-left: 133px;
-moz-padding-start : 131px;
}

#titlePuntoCero{
  font-size: 1.6rem;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 97%;
}

.formTime{
  width: 140px;
  display: table-cell;
}

.formType{
  padding-left: 3px;
  display: table-cell;
}

.formCommand{
  display: table-cell;
  padding-left: 10px;
  width: 80%;
}

.inputAncho{
  width:100%;
}

/**
Estilo punto de saturación
**/

/*Formulario Saturación*/
.formSatura{
  padding: 22px 18px 0 16px;
  font-family: 'rathersemibold';
}

.formSatura p{
  color: #ffecc2;
  font-size: 1.3rem;
}

/*Inputs*/
.preguntasSatura{
  margin-top: 18px;
}

.inputSatura{
  width: 67%;
}

.preguntasSatura input{
  font-size: 1.3rem;
  padding: 8px 3px 8px 5px;
	border: 4px solid #ffecc2;
	border-radius: 0;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: textfield;
}

.preguntasSatura select{
  font-size: 1.3rem;
  padding: 8px 3px 8px 5px;
	border: 4px solid #ffecc2;
	border-radius: 0;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: textfield;
}

/*Estilo creación algoritmo en punto de saturación*/
.segundoSatura{
  padding: 0px 18px 0 16px;
}

.creaSatura{
  color: #ffffff;
  min-height: auto !important;
  padding-top: 30px;
  font-family: 'rathersemibold';
  font-size: 2rem;

}

.terminalSatura{
  color: #ffffff;
  min-height: auto !important;
  padding-left: 16px !important;
  padding-top: 30px;
	border-left-style: solid;
	border-left-width: 5px;
  border-left-color: #ffecc2;
}

/*Botones*/
/*Botón nuevo del formulario*/
.buttonNuevo {
  width: 140px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 25px;
  margin-left: 10px;
  background-color: #d60c67;
  color: #000000;
  font-size: 18px;
  font-family: 'rathersemibold';
}
.buttonNuevo:hover{
  color: #333;
}

/*Botón en el lateral*/
.buttonLateral {
  width: 190px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 5px;
  margin-bottom: 33px;
  background-color: #000000;
  color: #d60c67;
  font-size: 18px;
}
.buttonLateral:hover {
  color: #333;
}

.buttonLateral2 {
  width: 140px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top:40px;
  margin-bottom: 33px;
  background-color: #ffecc2;
  color: #000000;
  font-size: 18px;
}

.buttonLateral2:hover {
  color: #ffffff;
}

.buttonLateral3 {
  width: 140px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top:40px;
  margin-bottom: 33px;
  background-color: #000000;
  color: #c2eaff;
  font-size: 18px;
}

.buttonLateral3:hover {
  color: #ffffff;
}

.buttonLateralNo {

	padding-top: 8px;
	padding-bottom: 8px;
  margin-bottom: 10px;
  width: 190px;
  background-color: #000000;
  color: #d60c67;
  font-size: 18px;
}

.buttonLateralNo:hover {
  color: #333;
}

.buttonCrear{
  padding: 0px 6px 0px 6px;
  margin-bottom: 4px;
  margin-left: -4px;
  font-size: 2rem;
}

.buttonCrear1{
  background-color: #ffecc2;
  color: #000000;
}
.buttonCrear1:hover{
  background-color: #000000;
  color: #ffecc2;
}

.buttonCrear2{
  background-color: #ffffff;
  color: #ffecc2;
}
.buttonCrear2:hover{
  background-color: #000000;
  color: #ffecc2;
}

.buttonCrear3{
  background-color: #000000;
  color: #ffecc2;
}
.buttonCrear3:hover{
  background-color: #ffffff;
  color: #ffecc2;
}

/*Fondo campos de entrada*/
button, input, optgroup, select, textarea {
	background-color: transparent;
	border: none;
  outline: none;
  color: rgb(235, 235, 235);
}

/*QuitamosLaFlechaDelDesplegable*/
.flecha select{
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/*Relleno del color del formulario simulando misma altura de columnas*/
.backgroundBlack{
		background-color: #000;
}


/**
Estilo lateral
*/
#Lateral{
	background-color: #d60c67;
	padding: 112px 6% 0 6%;
	font-family: 'rathersemibold';
	font-size: 1.2rem;
}

#Lateral2{
	background-color: #ffecc2;
	padding: 112px 6% 0 6%;
	font-family: 'rathersemibold';
	font-size: 1.2rem;
}

#Lateral3{
	background-color: #c2eaff;
	padding: 112px 6% 0 6%;
	font-family: 'rathersemibold';
	font-size: 1.2rem;
}



.fonLateral{
	background-color: #d60c67;
}

.fonLateral2{
	background-color: #ffecc2;
}

.fonLateral3{
	background-color: #c2eaff;
}
